// header
header{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    background-color: $wt;
    width: 100%;
    z-index: 10;
    transition: all 0.3s ease;
    text-align: center;
    h1{
        font-family: $b;
        display: inline-block;
        border-bottom: 3px solid $second;
        margin: 5px 0 15px 0;
    }
}